In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
import tensorflow
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
from tensorflow.keras.models import load_model

WARNING:tensorflow:From c:\Users\syamk\Desktop\projects\ANN project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
#load the trained models , scaler pickes and onehot 

model=load_model('model.h5')

#load encoders and scaler

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geo.pkl','rb') as file:
    ohe_geo=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:tensorflow:From c:\Users\syamk\Desktop\projects\ANN project\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [4]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [5]:
geo_encoder=ohe_geo.transform([[input_data["Geography"]]]).toarray()
geo_df=pd.DataFrame(geo_encoder,columns=ohe_geo.get_feature_names_out(['Geography']))

c:\Users\syamk\Desktop\projects\ANN project\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [8]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
input_df["Gender"]=label_encoder_gender.transform(input_df["Gender"])

In [10]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_df],axis=1)

In [11]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [12]:
input_scaled=scaler.transform(input_df)

In [13]:
input_scaled

array([[-0.52327522,  0.9104886 ,  0.09762375, -0.69258937, -0.26564305,
         0.81505169,  0.64842466,  0.97067965, -0.87221044,  1.00350615,
        -0.58350885, -0.57388614]])

In [14]:
#prediction

prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 151ms/step

array([[0.06137371]], dtype=float32)

In [15]:
prediction_proba=prediction[0][0]

In [16]:
if(prediction_proba>0.5):
    print("the cuustomer is likely to churn")
else:
    print("the cuustomer is not likely to churn")

the cuustomer is not likely to churn